### First let's create a small model!

In [5]:
import pandas as pd
import numpy as np 

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt', header = None)
df.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [6]:
df.columns = ['variance', 'skewness', 'curtosis', 'entropy', 'class']

In [7]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [9]:
print(df.shape)
print(df.isnull().sum())

(1372, 5)
variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [11]:
x = df.drop('class', axis = 1)
y = df['class']

In [20]:
from sklearn.model_selection import train_test_split 
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(xtrain,ytrain)
pred = classifier.predict(xtest)

In [23]:
from sklearn.metrics import accuracy_score 
score = accuracy_score(pred, pred)
score

1.0

In [24]:
import pickle 
pickle_out = open('classifier.pkl', 'wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [25]:
classifier.predict([[2,3,4,1]])

D:\Downloads\Anaconda_God\envs\aravind\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)